    <div class="div-aside">
        <nav>
          <div class="sidebar">
            <ul class="links-main">
              <li><a href="">Download</a></li>
              <li>
                <a href="">Discord</a
                ><svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="github-icon"
                >
                  <path
                    d="M21 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h6"
                  ></path>
                  <path d="m21 3-9 9"></path>
                  <path d="M15 3h6v6"></path>
                </svg>
              </li>
              <li>
                <a href="">Github</a
                ><svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="github-icon"
                >
                  <path
                    d="M21 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h6"
                  ></path>
                  <path d="m21 3-9 9"></path>
                  <path d="M15 3h6v6"></path>
                </svg>
              </li>
              <li class="link-active">
                <a href="/blog">Blog</a
                ><svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="github-icon"
                >
                  <path
                    d="M21 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h6"
                  ></path>
                  <path d="m21 3-9 9"></path>
                  <path d="M15 3h6v6"></path>
                </svg>
              </li>
            </ul>
    {% if request.path != '/blog' %}
    
            <div class="div-line1"></div>
            <div class="div-nav">
              <ul class="ul-nav">
                <li class="link-active"><a href="#">About Ghostty</a></li>
                <li class="collapsible">
                  <a href="#">Install</a>
                  <ul class="sub-menu">
                    <li><a href="#">Bin&Packages</a></li>
                    <li><a href="#">Build from Source</a></li>
                    <li><a href="#">Packaging Ghostty</a></li>
                    <li><a href="#">Prerelease Builds</a></li>
                  </ul>
                </li>
                <li class="collapsible"><a href="#">Release Notes</a></li>
                <li class="collapsible"><a href="#">Configuration</a></li>
                <li class="collapsible"><a href="#">Linux</a></li>
                <li class="collapsible"><a href="#">Features</a></li>
                <li class="collapsible"><a href="#">Terminal API (VT)</a></li>
                <li class="collapsible"><a href="#">Help</a></li>
              </ul>
            </div>
          </div>
          {% endif %}
              {% if request.path == '/blog' %}
              
            <div class="div-line1"></div>
            <div class="div-nav">
              <ul class="ul-nav">
                <li class="collapsible">
                  <a href="#">Blog</a>
                  <ul class="sub-menu">
                    <li><a href="#">blog 1</a></li>
                    <li><a href="#">blog 2</a></li>
                    <li><a href="#">blog 3</a></li>
                    <li><a href="#">blog 4</a></li>
                      <li><a href="#">blog 1</a></li>
                    <li><a href="#">blog 2</a></li>
                    <li><a href="#">blog 3</a></li>
                    <li><a href="#">blog 4</a></li>
                    
                  </ul>
                </li>
       
              </ul>
            </div>
          </div>
                        {% endif %}


        </nav>
      </div>