
 <header>
      <div class="header-div">
        <div  class="logo">
            <a href="/">
          <img src="static/src/img/pretty.png" alt="" />
          <h1>Pretty</h1></a>
        </div>
        <div class="burgermenu">
          <div id="nav-icon3">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>
        <div class="links">
          <ul>
            <li><a href="">Docs</a></li>
            <li>
              <a href="/blog">Blog</a
              ><svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="github-icon"
              >
                <path
                  d="M21 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h6"
                ></path>
                <path d="m21 3-9 9"></path>
                <path d="M15 3h6v6"></path>
              </svg>
            </li>
            <li>
              <a href="">Discord</a
              ><svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="github-icon"
              >
                <path
                  d="M21 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h6"
                ></path>
                <path d="m21 3-9 9"></path>
                <path d="M15 3h6v6"></path>
              </svg>
            </li>
            
            <li>
              <a href="#">Github</a
              ><svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="github-icon"
              >
                <path
                  d="M21 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h6"
                ></path>
                <path d="m21 3-9 9"></path>
                <path d="M15 3h6v6"></path>
              </svg>
            </li>
          </ul>
          <a class="download-button" href="">Download</a>
        </div>
      </div>
    </header>
